/* BUGI I DO ZROBIENIA

- dorobić h1, h2 itp do nagłówków
- przerobić formularz po kolapsie
*/

body
{
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
}

#container
{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
}

.container-fluid
{
  width: 1172px;
}

.nav .navbar-nav
{
  width: 33%;
}

.nav-text
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 29px;
  padding: 15 0 !important;
}

.nav>li>a
{
  padding: 15px 0px;
}

#container>.nav>li>a
{
  padding: 0px;
  line-height: 50px;
}

#container>.navbar-default .navbar-nav>li>a
{
  color: white;
}

#container>.navbar-default .navbar-nav>li>a:hover
{
  text-decoration: underline;
  color: white;
}

.nav
{
  width: 644px;
}

.navbar
{
  margin-bottom: 0px;
}

.navbar-default
{
  height: 84px;
  padding-top: 15px;
  background-color: #de6890;
  border: 0px;
  border-radius: 0;
}

.wc-logo
{
  width: 150px;
  margin-top: -25px;
  position: relative;
  margin-left: 116px;
}

/*COLLAPSED NAVBAR CSS - BUTTON*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* COLLAPSED NAVBAR CSS AND MEDIA QUERIES */
@media (max-width: 1199px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
      margin-right: 20px;
  }

  .container-fluid
  {
    width: 80vw;
  }

  .navbar-default
  {
    margin-right: 0px;
  }

  .navbar-default .navbar-collapse
  {
    border: 0px;
  }

  #myNavbar
  {
    background-color: #de6890;
    width: 100%;
    margin: 0px;
    padding-right: 0px;
  }

  .nav-text
  {
    margin-left: 30px !important;
    text-align: right;
  }

  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .telephone
  {
    width: 160px !important;
    margin-right: 8vw !important;
    margin-left: auto !important;
    padding-left: 0px !important;
  }

  /* COLLAPSED WC AND 1000l CONTAINER */

  .left-item
  {
    width: 572px;
    padding-right: 0 !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
  }

  .right-item
  {
    width: 572px;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    font-size: 36px;
    font-weight: 700;
  }

  .item-description
  {
    margin: 25px auto 75px auto;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 430px;
  }

  .wc-left
  {
    display: block;
    padding-right: 0 !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: -400px !important;
  }

  .container-right
  {
    display: block;
    margin-top: 100px !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }

}

/*----------------------------------------------------------------------------------------------------------------*/
/* MAIN SECTION STARTS HERE */

#top-wrapper
{
  background-image: url("../img/bgtop.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 900px;
}

.telephone
{
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-left: 982px;
  width: 1172px;
  height: 33px;
}

.telephone-number
{
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding-left: 10px;
}

.telephone-icon
{
  display: inline-block;
}
/**/

.jumbotron
{
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  background-color: rgba(255,255,255,0);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
}

.jumbotron-description
{
  line-height: 24px;
  font-size: 24px;
}

.jumbotron-description-pink
{
  color: #de6890;
}

#container>#top-wrapper>.jumbotron>.btn
{
  margin-top: 45px;
  width: 192px;
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: #de6890;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  color: white;
}

#container>#top-wrapper>.jumbotron>.btn:hover
{
  background-color: #de6890;
  color: white;
  text-decoration: underline;
}

.top-wrapper-transition
{
  margin-top: -30px;
  background-image: url("../img/top-wrapper-transition.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 440px;
  z-index: 9999;
}

#top-offer-items
{
  padding-top: 100px;
  background-color: #616567;
}

.left-item
{
  width: 572px;
  margin-left: auto;
  padding-right: 84px;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
}

.right-item
{
  width: 572px;
  margin-right: auto;
  padding-left: 84px;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
}

.item-description
{
  margin: 25px auto 75px auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20pt;
  font-weight: 400;
  width: 430px;
}

.show-more
{
  width: 160px;
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: #de6890;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  color: white;
}

.wc-left
{
  display: block;
  margin-left: auto;
  padding-right: 195px;
  margin-top: -460px;
}

.container-right
{
  display: block;
  margin-right: auto;
  padding-left: 195px;
  margin-top: -381px;
}

.row
{
  margin: 0;
}

/* WYSOKOŚĆ SZAREGO TO 180PX */

#offer-about-transition
{
  margin-top: -240px;
  height: 355px;
  background-image: url("../img/offer-about-transition.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#about
{
  height: 495px;
  background-color: white;
}

.btn-default:hover
{
  background-color: #de6890;
  color: white;
  text-decoration: underline;
}


#about
{
  min-height: 500px;
}

.header-gray
{
  margin: 0 auto 0 auto;
  padding-top: 80px;
  width: 350px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: #616567;
}

.gray-description
{
  margin: 50px auto 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 20pt;
  font-weight: 400;
  color: #616567;
  width: 760px;
  text-align: center;
}

.logos
{
  width: 970px;
  margin: 0 auto;
  padding-top: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.img-original-size
{
  height: 100%;
  margin-bottom: 0px;
  margin-top: auto;
}

.img-original-size:nth-child(5)
{
  margin-top: auto;
  margin-bottom: 20px;
}


#service-transport
{
  background-color: white;
  background-image: url("../img/multi-section-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1456px;
}

.main-shapes
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service
{
  padding-top: 480px;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
}

.header-white
{
  margin: 0 auto 0 auto;
  padding-top: 30px;
  width: 170px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.white-description
{
  margin: 40px auto 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20pt;
  color: white;
  width: 430px;
  text-align: center;
}

.transport
{
  margin-top: 160px;
  margin-bottom: -10px;
}

.transport-alt
{
  width: 430px;
  margin-top: 40px;
  padding-top: 0px;
  text-align: center;
  line-height: 20pt;
}


#contact
{
  background-color: #616567;
  background-image: url("../img/contact-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 750px;
}

.contact-description
{
  margin: 40px auto 60px auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20pt;
  color: white;
  width: 630px;
  text-align: center;
}

.contact-underline
{
  text-decoration: underline;
}

#contact-form
{
  width: 1172px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form-field
{
  width: 370px;
  height: 60px;
  background-color: #616567;
}

input
{
  padding-left: 25px;
  margin-left: 26px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  border: none;
}

input:nth-child(1)
{
  margin-left: 0px;
}

textarea
{
  width: 1172px;
  height: 108px;
  margin-top: 26px;
  padding-left: 25px;
  padding-top: 25px;
  background-color: #616567;
  border: none;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}

.submit-button
{
  display: block;
  margin: 20px auto 0px auto;
  width: 160px;
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: #de6890;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  color: white;
}

.submit-button:hover
{
  text-decoration: underline;
}

.contact-footer
{
  margin: 145px auto 0px auto;
  width: 370px;
}

.footer-text
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: white;
}

.contact-form-field::-webkit-input-placeholder { color: white; }
.contact-form-field:-moz-placeholder { color: white; }
.contact-form-field::-moz-placeholder { color: white; }
.contact-form-field:-ms-input-placeholder { color: white; }
.contact-form-field::-ms-input-placeholder { color: white; }

.contact-textarea::-webkit-input-placeholder { color: white; }
.contact-textarea:-moz-placeholder { color: white; }
.contact-textarea::-moz-placeholder { color: white; }
.contact-textarea:-ms-input-placeholder { color: white; }
.contact-textarea::-ms-input-placeholder { color: white; }
